@import url(http://fonts.googleapis.com/css?family=Nova+Square);
@bg-color: lightblue;
@color-2: lightseagreen;
@color-3: tomato;

/*--------------Affects Whole Page-------------*/
body{
  background-color: @bg-color;
}

body, h1{
 font-family: 'Nova Square', cursive;
 color: darken(@color-2, 25%);
}

#spacer{
  height: 40px;
}

.disableBG{
  background-color: grey;
  background: radial-gradient(white, gray, black); /* Standard syntax */
}

/*-----------------Add Priority Form-------------*/

/*Form to create priorities*/
#pForm{
  border: 5px solid darken(@color-2, 25%);
  padding: 25px;
  display: none;
  box-shadow: 0px 0px 25px 15px black;
  position: fixed;
  margin-top: -160px;
  margin-left: -125px;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 275px;
  background-color: @color-2;
  text-align: center;
  z-index: 100;
}

#pSave{
  background-color: @color-3;
  border: 3px solid darken(@color-2, 25%);
}

#pForm input{
  border: 3px solid darken(@color-2, 25%);
}

#closePForm{
  float: right;
  position: relative;
  top: -40px;
  left: 40px;
  width: 35px;
  height: 35px;
}

/*----------------Priority Table-----------------*/
#pTable tr th{
  /*table headers in priority table */
  color: grey;
  font-size: 32px;
}

#pTable tr td{
  /*table data in the priority table */
  font-size: 26px;
}

#pTable{
  box-shadow: 5px 5px 3px 3px black;
  border: 3px solid darken(@color-2, 25%);
  width: 350px;
}

.editRow{
  /*the row that has been clicked on to be edited*/
  margin: 10px;
}

.editRow input{
  /*the row that has been clicked on to be edited*/
  color: tomato;
}

#openpForm{
  /*button to display add priority form*/
  border: 1px solid black;
  width: 75px;
  height: 30px;
  text-align: center;
  font-size: 26px;
  background-color: lightseagreen;
  border: 3px solid darken(@color-2, 25%);
  border-bottom: 1px solid darken(@color-2, 25%);
}

#openpForm:hover{
  /*button to display add priority form*/
  box-shadow: 2px 2px 5px 5px black;
}

/*X image to delete a priority*/
.pDelete{
  width: 20px;
  height: 20px;
}

#pConfirm{
  /*Hide confirm changes to priority button on page load*/
  display: none;
}
/*------------------Task Form--------------------*/

#tForm{
  width: 350px;
}

#tagsInput{
  overflow: auto;
}

#closeTForm{
  float: right;
  position: relative;
  top: -45px;
  left: 45px;
  width: 35px;
  height: 35px;
}





/*-------------------Task Table------------------*/

#taskTable{
  box-shadow: 5px 5px 3px 3px black;
  border: 3px solid darken(@color-2, 25%);
}

#taskFooter{
  margin: 10px;
}

#taskFooter input{
  width: 50px;
}

.tDelete{
  width: 20px;
  height: 20px;
}

#taskTable tr th, #taskTable tr th a{
  /*table headers in tasks table */
  color: grey;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
}

#taskTable tr td{
  /*table data in the priority table */
  font-size: 14px;
  text-align: center;
}

#openTForm{
  /*button to display add Task form*/
  border: 1px solid black;
  width: 75px;
  height: 30px;
  text-align: center;
  font-size: 26px;
  background-color: lightseagreen;
  border: 3px solid darken(@color-2, 25%);
  border-bottom: 1px solid darken(@color-2, 25%);
}

#openTForm:hover{
  /*button to display add priority form*/
  box-shadow: 2px 2px 5px 5px black;
}

#tForm{
  border: 5px solid darken(@color-2, 25%);
  padding: 25px;
  display: none;
  //box-shadow: 5px 5px 3px 3px black;
  box-shadow: 0px 0px 25px 15px black;
  position: fixed;
  margin-top: -250px;
  margin-left: -175px;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 500px;
  background-color: @color-2;
  text-align: center;
  z-index: 100;
}

#miniSpacer{
  height: 20px;
}
