doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Todo List
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    form#pForm
      img(src='/media/Button-Close-icon.png')#closePForm
      label Priority Name
      input#pNameInput(type='text')
      label Value
      input#pValueInput(type='text')
      button#pSave Add To Table
    form#tForm
      img(src='/media/Button-Close-icon.png')#closeTForm
      label Task Name
      input#taskNameInput(type='text')
      label Due Date
      input#taskDueDateInput(type='date')
      label Select Priority
      select#selectPriority(type='text')
      label Categories
      input#tagsInput(type='text')
      label Task Complete?
      input#isCompleteInput(type='checkbox')
      #miniSpacer
      button#addTask AddTask

    .row
      .small-12.columns
        h1 Todo List
    .row
      .small-12.columns
        #spacer
    .row
      .small-4.columns
        #openpForm Add
        table#pTable
          tr
            th(width='140') Name
            th Value
            th Del
          tbody#tBody
      .small-4.columns
      .small-4.columns
    .row
      .small-3.columns
        button.alert#pConfirm Submit Changes
      .small-9.columns
    .row
      .small-12.columns
        #spacer
    .row
      .small-1.columns
      .small-10.columns
        #openTForm Add
        table#taskTable
          thead#taskHeader
            tr
              th
                a#completeText(href='#') Complete?
              th Name
              th
                a(href='#') Due
              th
                a(href='#') Priority
              th
                a(href='#') Categories
              th Del
          tfoot#taskFooter
            tr
              td
                label Num Tasks Per Page
                input(type='text', value='5')
              td
              td
                a#prevPage(href='#') Prev Page
              td
                a#nextPage(href='#') Next Page
              td
              td
          tbody#taskTBody
      .small-1.columns
    .row
      .small-12.columns
        form#tForm

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src="/js/vendor/moment.js")
    script(src='/js/source/main.js')

